/.metadata/
Edunova06/.settings/org.eclipse.jdt.core.prefs
Edunova06/.classpath
Edunova06/.project
*.class
Edunova07/.settings/org.eclipse.jdt.core.prefs
Edunova07/.project
Edunova07/.classpath
Edunova08/.classpath
Edunova08/.project
Edunova08/.settings/org.eclipse.jdt.core.prefs